# https://github.com/github/gitignore/blob/main/Haskell.gitignore
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# Custom
/.direnv/

.dir-locals.el
.envrc
.vscode/

unversioned

*.dll
*.log

autom4te.cache/
config.log
config.status
hs-bindgen-libclang.buildinfo
